[Unit]
Description=multiparty-meeting is a audio / video meeting service running in the browser and powered by webRTC
After=network.target

[Service]
ExecStart=/home/ubuntu/cv-local/server/node server.js
Restart=always
User=ubuntu
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/cv-local/server
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target